@charset "UTF-8";
body{
    background: #50763b url('../img/background.png') repeat-x;

width: 100%;
font: 12px/20px Verdana, Arial, sans-serif;
color:#fff;}


#wrapper {
    margin: 0 auto;
    width:960px;
    padding:0 10px;
    margin-bottom:20px;
    overflow: hidden;
}

#logo{
    font: 40px/50px 'Source Sans Pro', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
    display: block;
    margin: 0 0 10px 10px;
    color: #FFFFFF;
    
}

header{
    position: relative;
    margin-top: 20px;
    height: 300px;
}
header nav{
    position: absolute;
    right: 0px;
    top: 10px;
}
header nav ul{ margin:0; padding:0;}
header nav ul li {
    float:left;
    margin-left: 5px;
    list-style:none;
}

header nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 14px;
    padding:4px 8px;
    display: inline-block;/* IE8 nadanie obiektowi hasLayout*/
}

header nav ul li a.active{
  
background: #ffc578; /* Old browsers */
background: -moz-linear-gradient(top,  #ffc578 0%, #fb9d23 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffc578 0%,#fb9d23 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffc578 0%,#fb9d23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc578', endColorstr='#fb9d23',GradientType=0 ); /* IE6-9 */

    color: #764524;
    border:1px solid #c7aa52;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px #85b54d;
    -moz-box-shadow: 1px 1px 2px #85b54d;
    box-shadow: 1px 1px 1px #85b54d;
}

header nav ul li a:hover{color:#764524;}

header section#main-image {
    background: url('../img/foto.jpg') no-repeat;
    height:206px;
        width: 930px;
    display: block;
    border: 5px solid #fff;
    margin:0 auto;
    -webkit-box-shadow:0 5px 6px rgba(0, 0, 0, 0,.25);
    -moz-box-shadow:0 5px 6px rgba(0, 0, 0, 0,.25);
    box-shadow:0 5px 6px rgba(0, 0, 0, 0,.25);
}

section#main-image figure{
    float:right;
    height: 166px;
    padding: 40px 0 0 60px;
    width: 250px;
    background-color:rgba(0, 0, 0, 0.5);
}

section#main-image figure h2{
    font-family: 'Oswald', sans-serif;
    color:#fff;
    font-size: 28px;
    line-height: 38px;
    
}

section#main-image figure h2.second{margin-left:40px;}
section#main-image figure h2.third{margin-left:80px;}

#content-wrapper {padding: 0 10 px;overflow: hidden:}
#content-wrapper strong {color:#f9d467;}
#content-wrapper h2{
    
    font-family: 'GraublauWebBold', sans-serif;
    color:#fff;
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-shadow:0 0 1px transparent;
    
}
#content {float:left;width:620px;}
article {padding-bottom: 30px;}
#content section.news ul {margin:0; padding:0;overflow: hidden}
#content section.news ul li {float: left;width: 300px; margin-right: 20px;}
#content section.news ul li.row-end {margin-right: 0;}
#content section.news ul li h3 {color:#f9d467;}

aside {float: right; width:300px;}
aside section {margin-bottom: 20px; overflow: hidden;}
ul.sidebar-gallery {margin:0;padding:0;}
ul.sidebar-gallery li {float:left; margin:5px 10px;}
ul.sidebar-gallery li a img{
    border:4px solid #fff;
    box-shadow: 0px 3px 6px #444;
}

footer { 

clear: both;
margin-top:20px;
    padding:15px;
        background: #84BA4E;
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

footer nav ul {margin:0;padding:0;}
footer nav ul li {float: left;margin-left:20px;position:relative;}
footer nav ul li a{text-decoration: none;color:inherit;}
footer nav ul li a:hover{color: #764524;}

.right{ float: right;}
.left {float: left;}